interactions:
- request:
    body: '{body}'
    headers: {}
    method: GET
    uri: https://api-extern.systembolaget.se/product/v1/product/search?
  response:
    body:
      string: "{\"Metadata\":{\"DocCount\":18158,\"NextPage\":1,\"PriceRange\":{\"Min\":8.0,\"Max\":59995.0}},\"Hits\":[{\"ProductId\":\"1000432\",\"ProductNumber\":\"8983803\",\"ProductNameBold\":\"Schlappeseppel
        Specialit\xE4t\",\"ProductNameThin\":null,\"Category\":\"\xD6l\",\"ProductNumberShort\":\"89838\",\"ProducerName\":\"Schlappeseppel
        GmbH\",\"SupplierName\":\"Dryckesboden Sverige AB\",\"IsKosher\":false,\"BottleTextShort\":\"Flaska\",\"Seal\":\"Bygelkork\",\"RestrictedParcelQuantity\":20,\"IsOrganic\":false,\"IsEthical\":false,\"EthicalLabel\":null,\"IsWebLaunch\":false,\"SellStartDate\":\"2015-09-01T00:00:00\",\"IsCompletelyOutOfStock\":false,\"IsTemporaryOutOfStock\":false,\"AlcoholPercentage\":5.6,\"Volume\":330.0,\"Price\":29.9,\"Country\":\"Tyskland\",\"OriginLevel1\":null,\"OriginLevel2\":null,\"Vintage\":0,\"SubCategory\":\"\xD6l\",\"Type\":\"Mellanm\xF6rk
        lager\",\"Style\":\"M\xE4rzen och wienerstil\",\"AssortmentText\":\"\xD6vrigt
        sortiment\",\"BeverageDescriptionShort\":\"\xD6l, Mellanm\xF6rk lager, M\xE4rzen
        och wienerstil\",\"Usage\":null,\"Taste\":null,\"Assortment\":\"BS\",\"RecycleFee\":0.0,\"IsManufacturingCountry\":true,\"IsRegionalRestricted\":false,\"IsInStoreSearchAssortment\":\"\",\"IsNews\":false},{\"ProductId\":\"1001549\",\"ProductNumber\":\"7141301\",\"ProductNameBold\":\"W\xFCrzburger\",\"ProductNameThin\":\"Silvaner
        Trocken\",\"Category\":\"Vita viner\",\"ProductNumberShort\":\"71413\",\"ProducerName\":\"WG
        B\xFCrgerspital\",\"SupplierName\":\"Sybaris - Wine & Spirits AB\",\"IsKosher\":false,\"BottleTextShort\":\"Flaska\",\"Seal\":null,\"RestrictedParcelQuantity\":6,\"IsOrganic\":false,\"IsEthical\":false,\"EthicalLabel\":null,\"IsWebLaunch\":false,\"SellStar[...]
